<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>

    <title>Gestion des personnes</title>
</head>
<body>
<div id="article-main-content">
    <h2 class>Gestion des personnes</h2>
    <button><a href="/personne/afficher-personne/addpersonne"> Ajouter </a>  </button>
    <table class="table">
        <thead>
        <tr>
            <th> ID </th>
            <th> Nom </th>
            <th> Prenom </th>
            <th> Age </th>
            <th> Action </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="personne : ${personnes}" >
            <th th:text="${personne.id}"> ID </th>
            <th th:text="${personne.nom}"> Nom </th>
            <th th:text="${personne.prenom}"> Prenom </th>
            <th th:text="${personne.age}"> Age </th>
            <th> <a th:href="@{/personne/afficher-personne/delete/{idSup}(idSup=${personne.id})}"> Supprimer</a> </th>
        </tr>
        </tbody>
    </table>

</div>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>